*.o
*Test
*.la
*.lo
Makefile
Makefile.in
*Example
.deps
.libs
stamp-h1
missing
.dirstamp
*Test[123456]
*.pc
config.*
depcomp
configure
CrossoverTester
HexToSox
IIOSox
JackPortMonitor
JackPortMonitorGui
MixerTester
WSOLA
WSOLAJackGTK
audioMasker
aclocal.m4
api/Doxyfile
api/doxyfile.stamp
api/html
autom4te.cache
compile
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
a.out*
LatencyTester
gtkiostream_config.h*
*~
ALSAControlMonitor
node_modules
js/libgtkIOStreamNode.js
webcomponents/gtkiostream/libgtkIOStream.js
webcomponents/gtkiostream/libgtkIOStreamNode.js
webcomponents/gtkiostream/test
RealFFTExampleGD
test/IIRSiglution
package-lock.json
a.out
*.wasm
a.zip
af.zip
ALSACaptureSplitter
ALSAFullDuplexFile
ALSACapture
ALSAFullDuplexMinScan
FilterGen
ALSACapabilities
webcomponents/dsp/libdsp.js
webcomponents/dsp/libdspNode.js
ALSAFullDuplex
FIRTestOMP
ALSAMixerEvents
settings.json
ALSAConfig
