Source: gtkiostream
Section: devel
Priority: extra
Maintainer: Matt Flax <flatmax@flatmax.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libsox-dev, liboctave-dev, libjack-dev, libiceutil35, ice35-translators, ice35-slice, libgtk2.0-dev, libeigen3-dev, libgtkdatabox-0.9.2-0-dev, libzeroc-ice35-dev, libopencv-dev, libfftw3-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/gtkiostream/
Vcs-Git: git://git.code.sf.net/p/gtkiostream/code
Vcs-Browser: http://sourceforge.net/p/gtkiostream/code/ci/master/tree

Package: gtkiostream
Architecture: any
Replaces: wsola, mffm-fftw1, libaudiomask1
Depends: ${shlibs:Depends}, ${misc:Depends}, libsox2, libjack0, octave, libgtk2.0-0, libgtkdatabox-0.9.2-0,  libzeroc-ice35, jackd1, libopencv-core2.4, libfftw3-3
Description: WSOLA and WSOLAJackGTK executables to speed/slow multichannel audio files.
 WSOLA and WSOLAJackGTK are tools to speed/slow audio without changing the
 pitch.
 WSOLA is a command line executable which will speed up and slow down a 
 multi-channel audio file. The result is output to a wav file.
 WSOLAJackGTK will play the audio file using the Jack audio system and 
 provides a GTK GUI to allow you to speed up and slow down the audio as 
 desired.

Package: gtkiostream-dev
Architecture: any
Replaces: wsola-dev, mffm-fftw-dev, libaudiomask-dev
Depends: ${shlibs:Depends}, ${misc:Depends}, libjack-dev, libsox-dev, liboctave-dev, libzeroc-ice35-dev, libgtkdatabox-0.9.2-0-dev, libeigen3-dev, libopencv-dev, libfftw3-dev
Description: GTK+IOStream, ORB, Neural Networks, WSOLA, C++/Eigen3 to Octave.
 Provides many different development tools supporting GUI building, object
 object request broking, neutal networks, interfacing C++ to the Octave 
 numeric computation engine, simplistic interface to Jack audio and code
 to speed up/slow down audio. This package provides other software as well.
 .
 In more detail:
 Provides header files for IOStream style GUI building utilising GTK+. These
 header files do not require linking against the library to compile.
 Provides Eigen3 and other interface to the sox audio file reading/writing lib.
 Provides Eigen3 and other interface from C++ to Octave to allow the execution
 of matlab style .m files with C++ as the originating thread.
 Provides a set of header files for computing neural networks using Eigen3.
 Provides object request broking (ORB) which is simplified and allows you to
 efficiently program internet applications which are specified by a network
 protocol.

Package: gtkiostream-doc
Architecture: all
Description: documentation for gtkiostream
 Provides the application interface (API) for the gtkiostream package.
 This API is autogenerated from the source code.